--- layout: download.swig ---
<div class="doc-home-title">
  <h1 class="faq-title">知识库</h1>
</div>
<div id="backbone">
<div class="section">
          <h2 class="section-title"><span>常见问题</span></h2>
  <div class="row">
    <div class="section-content col-xs-12 col-sm-6 col-md-6">
      <div class="link-block">
      <h2>数据存储</h2>
        <ul>
          <li><a href="leanstorage-faq.html#API_调用次数有什么限制吗">API 调用次数有什么限制吗</a></li>
          <li><a href="leanstorage-faq.html#API_调用次数的计算">API 调用次数的计算</a></li>
          <li><a href="leanstorage-faq.html#当数据量越来越来大时_怎么加快查询速度_" target="_blank">当数据量越来越来大时，怎么加快查询速度</a></li>
          <li><a href="leanstorage-faq.html#默认值的查询结果为什么不对">默认值的查询结果为什么不对</a></li>
          <li><a href="leanstorage-faq.html">【点击查看更多】</a></li>
        </ul>
      </div>
    </div>
    <!-- .col-md-4 -->

    <div class="section-content col-xs-12 col-sm-6 col-md-6">
      <div class="link-block">
      <h2>云引擎</h2>
        <ul>
          <li><a href="leanengine_faq.html#云引擎都支持哪些语言">云引擎都支持哪些语言</a></li>
          <li><a href="leanengine_faq.html#云引擎的开发域名多久生效">云引擎的开发域名多久生效</a></li>
          <li><a href="leanengine_faq.html#云引擎支持_HTTPS_吗">云引擎支持 HTTPS 吗</a></li>
          <li><a href="leanengine_faq.html#如何判断当前是预备环境还是生产环境_">如何判断当前是预备环境还是生产环境？</a></li>
          <li><a href="leanengine_faq.html">【点击查看更多】</a></li>
        </ul>
      </div>
    </div>
    <!-- .col-md-4 -->
  </div>
  <!-- .row -->
  <hr>
  <div class="row">
  <div class="section-content col-xs-12 col-sm-6 col-md-6">
      <div class="link-block">
      <h2>即时通信</h2>
        <ul>
          <li><a href="realtime-faq.html#为什么我收不到离线消息推送">为什么我收不到离线消息推送</a></li>
          <li><a href="realtime-faq.html#聊天消息没有收到_该如何排查">聊天消息没有收到，该如何排查</a></li>
          <li><a href="realtime-faq.html#我只想实现两个用户的私聊_是不是每次都得重复创建对话_">我只想实现两个用户的私聊_是不是每次都得重复创建对话</a></li>
          <li><a href="realtime-faq.html#我自己没有云端_如何实现签名的功能_">如何实现签名的功能</a></li>
          <li><a href="realtime-faq.html">【点击查看更多】</a></li>
        </ul>
      </div>
    </div>
    <!-- .col-md-4 -->
  <div class="section-content col-xs-12 col-sm-6 col-md-6">
      <div class="link-block">
        <h2>消息推送</h2>
        <ul>
          <li><a href="push-faq.html#为什么成功设备数小于目标设备数_">为什么成功设备数小于目标设备数？</a></li>
          <li><a href="push-faq.html#为什么只能给三个月内活跃过的设备发消息_能否发全量设备_">为什么只能给三个月内活跃过的设备发消息？能否发全量设备？</a></li>
          <li><a href="push-faq.html#Android_消息接收能不能自定义_Receiver_不弹出通知">Android 消息接收能不能自定义 Receiver 不弹出通知</a></li>
          <li><a href="push-faq.html#Android_应用进程被杀掉后无法收到推送消息">Android 应用进程被杀掉后无法收到推送消息</a></li>
          <li><a href="push-faq.html">【点击查看更多】</a></li>
        </ul>
      </div>
    </div>
    <!-- .col-md-4 -->
   </div>
  <!-- .row -->
  <hr>
  <div class="row">
    <div class="section-content col-xs-12 col-sm-6 col-md-6">
      <div class="link-block">
         <h2>短信</h2>
        <ul>
          <li><a href="sms-faq.html#短信有什么限制吗_">短信有什么限制吗</a></li>
          <li><a href="sms-faq.html#有些手机收不到短信是什么情况_">有些手机收不到短信是什么情况</a></li>
          <li><a href="sms-faq.html#短信支持港澳台和国外吗_" target="_blank">短信支持港澳台和国外吗</a></li>
          <li><a href="sms-faq.html#短信模板审核的原则有哪些_" target="_blank">短信模板审核的原则有哪些</a></li>
          <li><a href="sms-faq.html#手机号被列入了黑名单怎么办？为什么会被列入黑名单？" target="_blank">手机号被列入了黑名单怎么办，为什么会被列入黑名单</a></li>
          <li><a href="sms-faq.html" target="_blank">【点击查看更多】</a></li>
        </ul>
      </div>
    </div>
    <!-- .col-md-4 -->

    <div class="section-content col-xs-12 col-sm-6 col-md-6">
      <div class="link-block">
         <h2>账户和控制台</h2>
        <ul>
          <li><a href="account-and-dashboard-faq.html#如何申请开具发票">如何申请开具发票</a></li>
          <li><a href="account-and-dashboard-faq.html#获取客服支持有哪些途径">获取客服支持有哪些途径</a></li>
          <li><a href="account-and-dashboard-faq.html#如何导入或者导出数据_">如何导入或者导出数据</a></li>
          <li><a href="account-and-dashboard-faq.html">更多账户与控制台问题</a></li>
          <li><a href="account-and-dashboard-faq.html" target="_blank">【点击查看更多】</a></li>
        </ul>
      </div>
    </div>
    <!-- .col-md-4 -->
  </div>
  <!-- .row -->
</div>
<hr>
</div>