--- layout: download.swig ---
<style type="text/css">
  .doc-content h2 {
    color: #333;
  }

  h1 .changelog-rss {
    display: inline-block;
    line-height: 1;
    height: 24px;
    vertical-align: 5px;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <div class="doc-home-title">
      <h1 class="font-logo">
        LeanCloud SDK 下载
      </h1>
      <h4>SDK 及相关资源下载</h4>
    </div>
    <!-- .doc-home-title -->
  </div>
  <!-- .col-md-12 -->
  <div class="col-md-12">
    <div style="display:flex;flex-wrap:wrap;margin-left:-20px">
      <div class="dl-cell">
        <div class="desc">
          <h2><i class="icon icon-github"></i> Objective-C</h2>
          <p>
            包含数据存储（基础模块）、即时通讯与推送、社交、用户反馈、应用内搜索等模块 <a
              href="https://releases.leanapp.cn/#/leancloud/objc-sdk/releases">查看所有</a>
          </p>
        </div>
        <ul class="list-unstyled list-inline download-btns">
          <li><a href="https://releases.leanapp.cn/#/leancloud/objc-sdk/releases"
              class="btn btn-sm btn-primary">Objective-C SDK </a></li>
          <li><a href="https://releases.leanapp.cn/#/leancloud/leancloud-feedback-ios/releases" class="btn btn-link">
              用户反馈组件</a></li>
        </ul>
      </div>
      <div class="dl-cell">
        <div class="desc">
          <h2><i class="icon icon-github"></i> JavaScript SDK</h2>
          <p>
            根据功能需求选择对应的 SDK
          </p>
        </div>
        <ul class="list-unstyled list-inline download-btns">
          <li><a href="https://releases.leanapp.cn/#/leancloud/javascript-sdk/releases" class="btn btn-sm btn-primary">
              数据存储 SDK</a>
          </li>
          <li><a href="https://releases.leanapp.cn/#/leancloud/js-realtime-sdk/releases" class="btn btn-sm btn-primary">
              即时通讯 SDK</a>
          </li>
        </ul>
      </div>
      <div class="dl-cell">
        <div class="desc">
          <h2><i class="icon icon-github"></i> Java SDK</h2>
          <p>包含 LeanCloud 平台全部功能的客户端接口，适用于 Java 和 Android 两个平台。SDK 中所有 API 接口与 LeanCloud
            云端交互严格遵循 LeanCloud REST API 规范，并且全部采用了 RxJava 风格来设计。</p>
        </div>
        <ul class="list-inline">
          <li>
            <a href="https://github.com/leancloud/java-unified-sdk/releases" class="btn btn-sm btn-primary">Java SDK</a>
          </li>
        </ul>
      </div>
      <div class="dl-cell">
        <h2><i class="icon icon-github"></i> Unity SDK </h2>
        <div class="desc">
          <p>
            自 2016 年 12 月起，原来的 AVOSCloud.dll 按照模块被拆分为 Core、Storage、Analytics、Push 等不同的文件。阅读 <a href="start.html">SDK
              安装指南</a> 获取帮助，或者访问 <a href="https://releases.leanapp.cn/#/leancloud/unity-sdk/releases">Unity SDK
              Release</a> 查看所有历史版本。
          </p>
        </div>
        <ul class="list-unstyled list-inline download-btns">
          <li> <a href="https://releases.leanapp.cn/#/leancloud/unity-sdk/releases" class="btn btn-sm btn-primary">
              Unity SDK </a></li>
        </ul>
      </div>
      <div class="dl-cell">
        <h2>.NET（新版）</h2>
        <div class="desc">
          <p>
            自 2016 年 12 月起，.NET SDK 将统一代码并且按照模块被拆分为 Core、Storage、Analytics、Push 等不同的文件。阅读 <a href="start.html">SDK
              安装指南</a> 获取帮助，或者前往 Nuget 进行安装。
            <a href="https://www.nuget.org/packages/LeanCloud/">Install LeanCloud .NET SDK via nuget</a>
          </p>
        </div>
        <ul class="list-unstyled list-inline download-btns">
          <li> <a href="https://www.nuget.org/packages/LeanCloud/" class="btn btn-sm btn-primary"> .NET SDK </a></li>
        </ul>
      </div>
      <div class="dl-cell">
        <div class="desc">
          <h2><i class="icon icon-github"></i> 其他 SDK（开放源码）</h2>
        </div>
        <ul class="list-unstyled list-inline download-btns">
          <li><a href="https://github.com/leancloud/android-sdk-all" class="btn btn-link"> Android SDK（旧版）</a></li>
          <li><a href="https://github.com/leancloud/java-sdk" class="btn btn-link"> Java SDK（旧版）</a></li>
          <li><a href="https://releases.leanapp.cn/#/leancloud/python-sdk/releases" class="btn btn-link"> Python SDK</a>
          </li>
          <li><a href="https://releases.leanapp.cn/#/leancloud/php-sdk/releases" class="btn btn-link"> PHP SDK</a></li>
          <li><a href="https://github.com/leancloud/cpp-sdk" class="btn btn-link"> C++ SDK</a></li>
          <li><a href="https://github.com/leancloud/swift-sdk" class="btn btn-link"> Swift SDK</a></li>
        </ul>
      </div>
      <div class="dl-cell" style="border-color:transparent;"></div>
    </div>
  </div>
</div>
