{% macro setService(service=api) %}
<script type="text/javascript">
angular.module("app").run(['$rootScope', function($rootScope) {
  $rootScope.service = '{{service}}';
}]);
</script>
{% endmacro %}

{% macro checkbox(checked=false) -%}
{% set backgroundColor = 'white' %}
{% set borderColor = '#aaa' %}
{%- if checked -%}
  {% set backgroundColor = '#3090e4' %}
  {% set borderColor = '#3090e4' %}
{%- endif -%}
<span class="checkbox" style="padding:1px 3px; background-color: {{ backgroundColor }}; color:white; display: inline; border:1px solid {{ borderColor }}; margin-right: 8px; border-radius: 2px; font-size: 12px;">&check;</span>
{%- endmacro %}

{% macro ops(prefix='', heading='') %}
{% if heading != '' %}
  {{heading}}
{% endif %}

使用 `{{prefix}}op("操作名称", {JSON 参数})` 函数可以完成原子性操作，确保数据的一致性。  

操作 | 说明 | 示例
---|---|---
Delete | 删除对象的一个属性 | `{{prefix}}op('Delete', {'delete': true})`
Add | 在数组末尾添加对象 | `{{prefix}}op('Add',{'objects':['Apple','Google']})`
AddUnique | 在数组末尾添加不会重复的对象，插入位置不定。| `{{prefix}}op('AddUnique', {'objects':['Apple','Google']})`
Remove | 从数组中删除对象 | `{{prefix}}op('Remove',{'objects':['Apple','Google']})`
AddRelation | 添加一个关系 | `{{prefix}}op('AddRelation', {'objects':[pointer('_User','558e20cbe4b060308e3eb36c')]})`
RemoveRelation | 删除一个关系 | `{{prefix}}op('RemoveRelation', {'objects':[pointer('_User','558e20cbe4b060308e3eb36c')]})`
Increment | 递增 | `{{prefix}}op('Increment', {'amount': 50})`
Decrement | 递减 | `{{prefix}}op('Decrement', {'amount': 50})`
BitAnd | 与运算   | `{{prefix}}op('BitAnd', {'value': 0x0000000000000004})`
BitOr  | 或运算   | `{{prefix}}op('BitOr', {'value': 0x0000000000000004})`
BitXor | 异或运算 | `{{prefix}}op('BitXor', {'value': 0x0000000000000004})`

注，由于 CQL 实现上有问题，删除对象属性的 `Delete` 操作也需要传入参数，不过参数名和参数值可以任意指定。
{% endmacro %}

{% macro retrieveAuthData(node, heading="") -%}
{%- if heading != "" %}{{heading}}{%- endif %}

authData 的数据<u>默认为仅限其所属用户可读写</u>，也就是说其他用户无法以 fetch 或 query 来获取。要更改这一默认行为，需要进入 {% if node == 'qcloud' %}**应用控制台** > **存储** > **_User**{% else %}[应用控制台 > 存储 > _User 表](/dashboard/data.html?appid={% raw %}{{{% endraw %}appid{% raw %}}}{% endraw %}#/_User){% endif %}，点击 authData 字段右侧的箭头，选择 **编辑**，关掉「列属性」里的「只限所属用户读写」选项才能获取到。
{% endmacro %}

{% macro supportEmail() -%}
<support@leancloud.rocks>
{%- endmacro %}
